<div class="sidebar" [class.collapsed]="isCollapsed">
  <div class="sidebar-header">
    <h2>Adisyon Uygulaması</h2>
    <button class="toggle-btn" (click)="toggleSidebar()">&#9776;</button> <!-- Hamburger menü simgesi -->

  </div>
  <ul class="sidebar-menu">
    <li class="menu-item">
      <a  class="menu-link">Veri <span class="arrow">▶</span></a>
      <ul class="submenu">
        <li><a href="coredata/pscategory/list">Malzeme/Ürün Kategori Listesi</a></li>
        <li><a href="coredata/ps/list">Malzeme/Ürün  Listesi</a></li>
      </ul>
    </li>
    <li class="menu-item">
      <a class="menu-link">Satış <span class="arrow">▶</span></a>
      <ul class="submenu">
        <li><a href="sales/order">Sipariş</a></li>
        <li><a href="sales/accounting">Hesap</a></li>
      </ul>
    </li>
    <li class="menu-item">
      <a class="menu-link">Raporlar <span class="arrow">▶</span></a>
      <ul class="submenu">
        <li><a href="#">Aylık Rapor</a></li>
        <li><a href="#">Yıllık Rapor</a></li>
        <li><a href="#">Özel Rapor</a></li>
      </ul>
    </li>
  </ul>
</div>
