# .NET Core (backend) specific
## Ignore build output directories
bin/
obj/

## Ignore Visual Studio configuration files
.vs/
.vscode/
.idea/

## Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## Ignore ASP.NET Core specific files
wwwroot/

## Ignore sensitive configuration files
appsettings*.json

## Ignore database files
*.db
