.category-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background-color: #f5f5f5;
  padding: 20px;
}

.category-card {
  width: 100%;
  margin-top:0px;
  max-width: 600px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.category-card-header {
  background-color: #6200ea;
  color: white;
}

.category-card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.category-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.category-form-field {
  width: 100%;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.submit-button, .cancel-button {
  padding: 10px 20px;
  font-size: 1rem;
}

.submit-button {
  background-color: #6200ea;
  color: white;
  border-radius: 5px;
}

.submit-button:hover {
  background-color: #4500a4;
}

.cancel-button {
  background-color: #f44336;
  color: white;
  border-radius: 5px;
}

.cancel-button:hover {
  background-color: #d32f2f;
}
/* Dashboard'a Dönme Butonunun Stili */
.back-button {
  position: absolute; /* Sayfanın en üst kısmına sabitlemek için */
  top: 150px; /* Üstten 16px mesafe */
  left: 140px; /* Soldan 16px mesafe */
  z-index: 20; /* Butonu ön planda tutar */

  .mat-icon {
    width: 100px;
    height: 30px;
    font-size: 24px; /* Ok simgesinin boyutu */
    color: #00796b; /* Yeşil renk */
  }

  &:hover {
    background-color: #e0f2f1; /* Hover durumu için açık yeşil arka plan */
  }
}
