
<div class="main-container blue-theme">
  <div class="content-container">
    <div class="card-wrapper">
      <mat-card>
        <mat-card-content>
          <div class="centered-text pb-1">
            <p class="muted-text">SA SolutionsNet Adisyon Yazılım.</p>
          </div>
          <div class="centered-text pb-1">
            <p class="muted-text">SA SolutionsNet Adisyon Yazılım APP.</p>
          </div>
          <div fxLayout="column" fxLayoutAlign="space-around" class="centered-text pb-1">
            <div class="pb-1">
              <button mat-raised-button color="primary" (click)="onSignInClick()">Giriş Yapın</button>
            </div>
            <div class="pb-1">
              <button mat-raised-button color="primary" (click)="onSignUpClick()">Kayıt Olun</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
